# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Environnement virtuel ---
venv/
.env/
.venv/

# --- Django ---
db.sqlite3
media/
staticfiles/

# --- Logs ---
*.log

# --- IDE / éditeurs ---
.vscode/
.idea/
*.swp

# --- macOS ---
.DS_Store

# --- Tests ---
coverage/
htmlcov/
.pytest_cache/
