services:
  # Service Backend
  backend:
    container_name: backend_container
    build:
      context: .
      dockerfile: app/backend/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      # Persistance de la base de données
      - ./budget.db:/code/budget.db #il faut créer un service pour la bd ; sgbd => permettre plusieurs frontend pour un même backend, archi orientée event, permettre accès concurent écriture et lecture ; bd à telle adresse dans le réseau (nom de domaine dans docker compose)
    networks:
      - zadeet-network

  # Service Frontend
  frontend:
    container_name: frontend_container
    build:
      context: .
      dockerfile: app/frontend/Dockerfile
    ports:
      - "80:80" 
    depends_on:
      - backend

    networks:
      - zadeet-network

networks:
  zadeet-network:
    driver: bridge
