services:
  db:
    image: postgres:15-alpine
    container_name: zadeet_db
    restart: always
    environment:
      - POSTGRES_USER=zadeet_user
      - POSTGRES_PASSWORD=super_mot_de_passe
      - POSTGRES_DB=zadeet_db
    volumes:
      # Les données seront stockées dans un volume Docker sécurisé (plus de fichier .db qui traîne)
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    
    networks:
      - zadeet-network

  # Service Backend
  backend:
    container_name: backend_container
    build:
      context: .
      dockerfile: app/backend/Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - db # On attend que la BDD soit prête
    environment:
      - DATABASE_URL=postgresql://zadeet_user:super_mot_de_passe@db:5432/zadeet_db

    networks:
      - zadeet-network

  # Service Frontend
  frontend:
    container_name: frontend_container
    build:
      context: .
      dockerfile: app/frontend/Dockerfile
    ports:
      - "80:80" 
    depends_on:
      - backend

    networks:
      - zadeet-network

networks:
  zadeet-network:
    driver: bridge

volumes:
  postgres_data: