apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: u-grp3
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      # Si image privée, décommente:
      # imagePullSecrets:
      # - name: regcred
      containers:
      - name: nginx
        image: dohaab14/zadeet-frontend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        volumeMounts:
        - name: nginx-conf
          mountPath: /etc/nginx/nginx.conf
          subPath: nginx.conf
      volumes:
      - name: nginx-conf
        configMap:
          name: nginx-conf
