apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: u-grp3
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
    
      containers:
      - name: backend
        image:  dohaab14/zadeet-backend:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        env:
        - name: DATABASE_USER
          valueFrom:
            secretKeyRef:
              name: zadeet-secrets
              key: DATABASE_USER
        - name: DATABASE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: zadeet-secrets
              key: DATABASE_PASSWORD
        - name: DATABASE_NAME
          valueFrom:
            secretKeyRef:
              name: zadeet-secrets
              key: DATABASE_NAME
        - name: DATABASE_HOST
          valueFrom:
            configMapKeyRef:
              name: zadeet-config
              key: DATABASE_HOST
        - name: DATABASE_PORT
          valueFrom:
            configMapKeyRef:
              name: zadeet-config
              key: DATABASE_PORT
        - name: DATABASE_URL
          value: "postgresql://$(DATABASE_USER):$(DATABASE_PASSWORD)@$(DATABASE_HOST):$(DATABASE_PORT)/$(DATABASE_NAME)"
        resources:
          requests:
            memory: "256Mi"
            cpu: "200m"
          limits:
            memory: "1Gi"
            cpu: "1000m"
